html {
    font-family: 'Russo One', sans-serif;
    /* width: 1920px; */
    /* height: 500px; */
}

body {
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
}

header {
    background-color: #313131;
    margin: 0px;
    padding: 10px;
}

.Logo {
    color: #1969b4;
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center
}



.custom-bar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 20px;
    font-weight: lighter;
    margin-right: 45px;
    display: flex;
}